.images {
  height: 50vh;
}

.info.d-flex {
  column-gap: 18px;
  justify-content: center;
  .about-flat {
  display: flex;
  flex-direction: column;


  padding: 16px;
  background-color: white;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  border-radius: 5px;
  p {
    font-size: 1.2em;
    margin-bottom: auto;
  }

  .d-flex {
    column-gap: 20px;
    text-align: center;
  }
}
  .form {
    align-self: center;
  }
}

.booking-container {
  display: flex;
  flex-direction: column;
}

.title-reviews {
  text-align: center;
  padding-bottom: 16px;
}

a {
  margin-top: auto;
}

hr {
  background-color: lightgrey;
}