<div>
  <img src="https://images.unsplash.com/photo-1515173792234-45cf00e907eb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGZsYXQlMjByb21lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="colosseo">
  <h3><%= flat.title %></h3>
  <p><%= flat.address %></p>
</div>
