<div class="map-flats d-flex">
  <div class="container-list">
    <h1>Results in the selected area - <span style="color:rgba(0, 0, 0, 0.5);"><%= @flats.first.city %></span></h1>
    <br>
    <% @flats.each do |flat| %>
      <%= render partial: 'flat_list', locals: { flat: flat } %>
    <% end %>
    </div>

  <div id="map"
       style="width: 50%; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">    
  </div>
</div>

