<div class="alert alert-dismissible alert-booking" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= booking %>
  <i class="fas fa-check-circle"></i>
  <p>Your Booking has been made</p>
</div>