<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/fabriziowho/airbnb-handyfarm"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-copyright">
    <a href="#">Home</a>
    <a href="#">Account</a>

    <span>
      <a href="#">Terms and Conditions</a>
    </span>

    <span>
      <a href="#">Privacy Policy</a>
    </span>

    <span>
      &copy; Airbnb
    </span>
  </div>
</div>
