<div class="banner" style="background-color: rgb(224, 93, 93)">

  <div class="main-header">
    <h1>Airbnb</h1>
    <p>You can live anywhere</p>
  </div>

  <div class="search-form">
    <input type="text" placeholder="Where" id="where">

    <input type="date" name="check-in" id="check-in">
    <input type="date" name="check-out" id="check-out">

    <input type="text" placeholder="Guests" id="guests">
  </div>

  <div class="search-button">
    <a href="#">
      <button type="button" class="btn btn-lg">Search</button>
    </a>
  </div>

</div>
