<div class="banner" style="background-color: rgb(224, 93, 93)">
  <div class="container">
    <h1>Airbnb</h1>
    <p>You can live anywhere</p>

    <div class="search-form">
      <input type="text" placeholder="Where">
      <input type="text" placeholder="Check in">
      <input type="text" placeholder="Check out">
      <input type="text" placeholder="Guests">
    </div>

    <a href="#">
      <button type="button" class="btn btn-lg">Search</button>
    </a>

  </div>
</div>
